@model EditThemeModel

<body>
    <div class="ContainerDeprtaments">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Изменение темы проекта</h3>
            </div>
            <form asp-action="EditProjectTheme" asp-controller="TeacherPage" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label for="inputThemeName">Тема индивидуального проекта: </label>
                        <input asp-for="nameTheme" class="form-control" id="inputThemeName" placeholder="Напишите тему">
                    </div>
                    <div class="form-group">
                        <label for="inputDescription">Также вы можете оставить отзыв: </label>
                        <textarea asp-for="feedback" id="inputDescription" class="form-control" rows="4"></textarea>
                    </div>
                    <input type="hidden" asp-for="idProject" />
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary" style="margin-top: 5px">Изменить</button>
                </div>
                <a href="@Url.Action("goBack", "TeacherPage")" class="btn btn-sm btn-primary" style="margin-top: 5px; float: right;">
                    <i class="fas fa-user"></i> Назад
                </a>
            </form>
        </div>
    </div>
</body>
