@model List<Department>
@{
    ViewData["Title"] = "Админ страница(Отделения)";
}

<body>
    <div class="title-div">
        <h1 class="title">Отделения</h1>
    </div>
    <div class="container-deprtaments">
        @foreach (var departament in Model)
        {
            <div class="card bg-light d-flex flex-fill" style="margin-top: 20px;">
                <a class="card-header text-muted border-bottom-0" style="text-align: center;" href="@Url.Action("DepartmentDetailView", "DepartmentPage",  new {departmentId = departament.Id })">@departament.Name</a>
            </div>
        }
    </div>
</body>
