    html {
      font-size: 14px;
    }

    @media (min-width: 768px) {
      html {
        font-size: 16px;
      }
    }

    .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
      box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    }

    html {
      position: relative;
      min-height: 100%;
    }

    body {
      margin-bottom: 60px;
    }
    #contAuth {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #fff;
    }

    .login-container {
        background-color: #f7f7f7;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        border-radius: 15px;
}

    .login-container h2 {
        text-align: center;
        color: #333;
    }

    .login-container input[type="text"],
    .login-container input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box;
    }

        .login-container button[type="submit"] {
            width: 100%;
            background-color: #007bff;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .login-container button[type="submit"]:hover {
            background-color: #6c9bff;
        }
    .active-link {
    color: #0f6cbf;
    font-weight: bold;
    }
    .title-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 60%;
        margin: 10px auto;
        padding: 20px;
    }
    .container-deprtaments {
        width: 500px;
        height: 150px;
        border-radius: 10px;
        display: block;
        margin: 10px auto;
        padding: 3px;
    }
    .link-block {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-decoration: none;
        color: #333;
        transition: background-color 0.3s ease;
    }
    .link-block:hover {
        background-color: #ddd;
    }
    .div-glav{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        text-align:center;
        width: 50%;
        padding: 20px;
        margin: 10px auto;
    }
    .container-students{
        background: #f7f7f7;
        width: 300px;
        height: 150px;
        border-radius: 10px;
        display:block;
        margin: 10px auto;
        padding: 3px;
    }
    .link-block-dep {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-decoration: none;
        color: #333;
        transition: background-color 0.3s ease;
    }
    .link-block-dep:hover {
        background-color: #ddd;
    }