@model StudentViewModel

@{
    ViewData["Title"] = "Админ страница(Студенты)";
}

<body>
    <div class="title-div">
        <h1 class="title">Студенты</h1>
    </div>
    <div class="div-glav">
               
            @foreach (var student in Model.Students)
            {
                <div class="container-students">
                    <a class="nav-link text-dark" href="@Url.Action("GroupDetailView", "GroupView", new {userId = student.Id})">
                        <p>@student.Surname @student.NameAndPat</p>
                        <p>Номер телефона @student.Number</p>
                    </a>
                </div>
            }
        
    </div>
    
</body>