@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<div class="main-inner">
    <h1 class="h2">Система индивидуальных проектов КГАПОУ "Авиатехникум"</h1>
</div
