@model GroupsForClassroom
@{
    ViewData["Title"] = "Классный руководитель страница(группы)";
}
<body>
    <div class="title-div">
        <h1 class="title">Ваши группы</h1>
    </div>
    <div class="container-deprtaments">
        @foreach (var groups in Model.Groups)
        {
            <div class="card bg-light d-flex flex-fill" style="margin-top: 20px;">
                <a class="card-header text-muted border-bottom-0" style="text-align: center;" href="@Url.Action("ClassroomPageView", "ClassroomPage", new {groupid = groups.Id})">@groups.Name</a>
            </div>
        }
    </div>
</body>