@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Правила импорта</h5>
        <p class="card-text">
            Импорт выполняется в строгом порядке. Первоначально необходимо добавить преподавателей. Далее если необходимо есть возможность добавить кураторов(классных руководителей), если в этом нет нужды необходимо добавить дисциплины. Следующий шаг добавление групп. После того как вы добавили группы и преподавателей необходимо прикрепить преподавателей к группам. Только после этого появляется возможность добавить студентов. Если вам необходимо добавить студентов в уже созданную группу необходимо пройти по кнопкам. Кодировка файлов должна быть UTF-8.
        </p>

    </div>
    <div class="card-footer">
        <div class="text-right">
            <a href="@Url.Action("ExportAllTemplates", "MainImport")" class="btn btn-sm btn-primary">
                <i class="fas fa-user"></i> Получить шаблоны
            </a>
        </div>
    </div>
</div>
