@{
    ViewData["Title"] = "Import Subjects";
}

<div class="container">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Импорт дисциплин</h3>
        </div>
        <form asp-action="ImportSubjects" method="post" enctype="multipart/form-data">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputFile">Выберите файл</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" name="file" class="custom-file-input" id="exampleInputFile">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-primary" style="margin-top:5px">Импорт</button>
                <a href="@Url.Action("ImportGroups", "MainImport")" class="btn btn-sm btn-primary" style="margin-top:5px">
                    <i class="fas fa-user"></i> Добавить группы
                </a>
                <a href="@Url.Action("goToTeachers", "MainImport")" class="btn btn-sm btn-primary" style="margin-top: 5px; float: right;">
                    <i class="fas fa-user"></i> Назад
                </a>
            </div>
        </form>
    </div>
</div>
