@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Добавление файла</h3>
        </div>
        <form asp-action="AddFile" method="post" enctype="multipart/form-data">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputFile">Выберите файл</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" name="file" class="custom-file-input" id="exampleInputFile">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <input type="hidden" name="projectId" value="@ViewBag.ProjectId" />
                <button type="submit" class="btn btn-sm btn-primary" style="margin-top:5px">Добавить файл</button>
                <a href="@Url.Action("goBack", "StudentPage")" class="btn btn-sm btn-primary" style="margin-top: 5px; float: right;">
                    <i class="fas fa-user"></i> Назад
                </a>
            </div>
        </form>
    </div>
</div>
