@model IndividualProjectModel
@{

}
<body>
    <div class="ContainerDeprtaments">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Добавление проекта</h3>
            </div>
            <form asp-action="AddProject" asp-controller="StudentPage" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label for="inputThemeName">Тема вашего индивидуального проекта</label>
                        <input asp-for="nameTheme" class="form-control" id="inputThemeName" placeholder="Напишите тему">
                    </div>
                    <label for="myDropdown">Выберите опцию:</label>
                    <select id="myDropdown" name="SelectedOption" asp-for="subjectID" class="form-control">
                        @foreach (var option in Model.SubjectOptions)
                        {
                            <option value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
