@model IndividualProjectModel
@{

}
<body>
    <div class="ContainerDeprtaments">
        @if(Model.IndividualProjects.Count == 0)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">У вас нет назначенного проекта</h5>
                    <p class="card-text">
                        Вы можете предложить тему и выбрать дисциплину самостоятеньно.
                    </p>
                    <a href="@Url.Action("AddProject", "StudentPage")" class="card-link">Подать заявку</a>
                </div>
            </div>
        }
        else
        {
        @foreach (var IndividualProject in Model.IndividualProjects)
            {                       
                    <div>
                        <a href="@Url.Action("StudentPage", "GroupView", new {individual = IndividualProject.Id})">@IndividualProject.NameTheme</a>
                    </div>                      
            }
        }
    </div>
</body>
