@model IndividualProjectModel
@{

}
<body>
    <div class="ContainerDeprtaments">
        @if(Model.IndividualProjects == null)
        {
            <div>
                <p>У вас нет проекта</p>
            </div>
        }
        else
        {
        @foreach (var IndividualProject in Model.IndividualProjects)
            {                       
                    <div>
                        <a href="@Url.Action("StudentPage", "GroupView", new {individual = IndividualProject.Id})">@IndividualProject.NameTheme</a>
                    </div>                      
            }
        }
    </div>
</body>
